.test {
    width: 100px;
    height: 87px;
}

.Info {
    /* height: 80px; */
    display: flex;
    align-items: center;
    /* border-top: 1px solid;
    border-bottom: 1px solid; */
}

.Info h3 {
    display: flex;
}

.InfoIcon {
    margin-left: 20px;
}

.FoldButtonContainer:hover {
    cursor: pointer;
}

.FoldButton {
    display: flex;
    align-items: center;
    padding: 9px 21px 9px 21px;
    margin-left: 20px;
    border-radius: 100px;
    background-color: #545454;
}

.FoldButtonDetail {
    background-color: white;
    align-items: center;

    padding: 4px 10px 4px 10px;
    border-radius: 100px;
}

.StepInformationWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.StepInformationHeader {
    display: flex;
    justify-content: space-between;
}

.StepContent {
    display: block;
}

.ShowContent {
    display: block;
}

.HideContent {
    display: none;
}

.ChevronOpened {
    transform: rotate(180deg);
}
.ChevronClosed {
    transform: rotate(0);
}