.StepIndicatorWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px 0 240px 0;
}

.ArrowIcon {
    font-size: 60px;
    color: #A7A7A7;
}
