.empty {
    width: 100vw;
    height: 100vh;
}

.ContentContainer {
    display: flex;
    width: calc(100% - 100px);
    gap: 150px;
    margin-top: 160px;
}

.ContentSectionLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ContentSectionRight {
    flex: 1;
}

.RoadmapContainer {
    display: flex;
}

@media screen and (max-width: 600px) {
  .main {
      padding: 2rem;
      min-height: 60vh;
    }
}
